server:
  port: 7902
user:
  userServicePath: http://microservice-provider-user/
  userServicePath2: http://microservice-provider-user2/
spring:
  application:
    name: micorservice-consumer-movie-ribbon-customrule-properties
#eureka
eureka:
  client:
    service-url:
      defaultZone: http://diaoby:diaoby@localhost:8761/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
#使用属性自定义Ribbon配置
microservice-provider-user:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule
microservice-provider-user2:
  ribbon:
    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RoundRobinRule