server:
  port: 7900
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/diaoby?serverTimezone=UTC&characterEncoding=utf8&useUnicode=true&useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: microservice-provider-user  #  指定注册到Eureka的应用的名字，建议全部小写
logging:
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE
    com.huaxin: DEBUG
#eureka
eureka:
  client:
    service-url:
      defaultZone: http://diaoby:diaoby@localhost:8761/eureka
  instance:
    prefer-ip-address: true  # 当鼠标悬浮在服务上，左下角的名称显示IP，或者点击进去之后打开的新页面以ip的形式显示
    instance-id: ${spring.application.name}:${spring.application.instance_id:${server.port}}
